imagePullSecrets:
- name: regcred
controller:
  image:
    registry: registry.demo.netapp.com
rbacProxy:
  image:
    registry: registry.demo.netapp.com
crCleanup:
  imagePullSecrets:
  - name: regcred
webhooksCleanup:
  imagePullSecrets:
  - name: regcred
nodeSelector:
  kubernetes.io/os: linux